IAC/Terraform/.terraform/*
IAC/Terraform/*.tfstate
IAC/Terraform/*.tfstate.*
IAC/Terraform/*.hcl
IAC/Terraform/*.tfvars

bin/
vault.txt
# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories (Go modules and vendor)
vendor/
Gopkg.lock
Gopkg.toml

# Go workspace file
go.work
go.work.sum

# IDE-specific files
## JetBrains IDEs (IntelliJ IDEA, GoLand, etc.)
.idea/
*.iml
out/

## Visual Studio Code
.vscode/
*.code-workspace

# Logs
*.log

# Operating system-specific files
.DS_Store
Thumbs.db
